# Weather at Berlin Marathon

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw/tageswerte_KL_00433_19480101_20241231_hist/produkt_klima_tag_19480101_20241231_00433.txt", sep=";", header=0)

In [3]:
df.head()

,STATIONS_ID,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
0,433,19480101,-999,-999.0,-999.0,5,5.7,8,-999.0,4,5.0,4.9,1010.7,-1.8,89.0,0.8,-5.0,-4.7,eor
1,433,19480102,-999,-999.0,-999.0,5,3.3,1,-999.0,8,8.0,7.9,999.7,4.4,95.0,6.8,-2.7,-2.5,eor
2,433,19480103,-999,-999.0,-999.0,5,4.0,1,-999.0,0,5.3,9.8,1001.7,8.5,86.0,10.6,5.2,4.6,eor
3,433,19480104,-999,-999.0,-999.0,5,0.2,1,-999.0,0,8.0,10.2,999.8,10.2,83.0,11.5,6.6,4.7,eor
4,433,19480105,-999,-999.0,-999.0,5,2.0,1,-999.0,0,7.7,9.8,987.8,10.5,78.0,12.0,8.0,5.9,eor

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28125 entries, 0 to 28124
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   STATIONS_ID  28125 non-null  int64
 1   MESS_DATUM   28125 non-null  int64
 2   QN_3         28125 non-null  int64
 3     FX         28125 non-null  float64
 4     FM         28125 non-null  float64
 5   QN_4         28125 non-null  int64
 6    RSK         28125 non-null  float64
 7   RSKF         28125 non-null  int64
 8    SDK         28125 non-null  float64
 9   SHK_TAG      28125 non-null  int64
 10    NM         28125 non-null  float64
 11   VPM         28125 non-null  float64
 12    PM         28125 non-null  float64
 13   TMK         28125 non-null  float64
 14   UPM         28125 non-null  float64
 15   TXK         28125 non-null  float64
 16   TNK         28125 non-null  float64
 17   TGK         28125 non-null  float64
 18  eor          28125 non-null  object
dtypes: float64(12), int64(6), object(1)
memory usage: 4.1+ MB

In [5]:
dates = df[
    (df['MESS_DATUM'] == 20110925) | 
    (df['MESS_DATUM'] == 20120930) | 
    (df['MESS_DATUM'] == 20130929) | 
    (df['MESS_DATUM'] == 20140928) | 
    (df['MESS_DATUM'] == 20150927) | 
    (df['MESS_DATUM'] == 20160925) | 
    (df['MESS_DATUM'] == 20170924) | 
    (df['MESS_DATUM'] == 20180916) | 
    (df['MESS_DATUM'] == 20190929) | 
    (df['MESS_DATUM'] == 20210926) | 
    (df['MESS_DATUM'] == 20220925) | 
    (df['MESS_DATUM'] == 20230924) | 
    (df['MESS_DATUM'] == 20240929)
    ]

In [6]:
dates

,STATIONS_ID,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
23278,433,20110925,10,5.5,1.7,9,0.0,0,10.4,-999,-999.0,11.8,1014.5,15.3,70.0,22.7,8.9,4.0,eor
23649,433,20120930,10,8.1,2.6,9,0.0,0,7.2,-999,-999.0,9.5,1014.8,12.0,70.0,17.1,7.1,0.9,eor
24013,433,20130929,10,10.9,4.4,9,0.0,0,9.4,-999,-999.0,8.8,1012.6,9.0,78.0,14.4,4.6,1.5,eor
24377,433,20140928,10,7.5,1.5,9,0.0,0,9.0,-999,-999.0,12.0,1020.5,14.0,76.0,21.5,5.8,-0.1,eor
24741,433,20150927,10,7.3,2.3,9,0.0,0,8.4,-999,-999.0,9.7,1025.6,11.4,74.0,17.4,6.5,-1.1,eor
25105,433,20160925,10,9.3,2.3,9,0.0,0,10.2,-999,-999.0,11.0,1016.2,15.7,64.0,22.8,8.8,2.7,eor
25469,433,20170924,10,6.9,3.0,9,1.4,4,0.9,-999,-999.0,15.4,1016.5,14.5,93.0,16.8,12.7,12.3,eor
25826,433,20180916,10,6.7,1.7,9,0.0,0,7.7,-999,-999.0,11.3,1017.7,16.4,64.0,23.2,10.1,4.4,eor
26204,433,20190929,10,10.5,3.5,9,8.0,4,0.7,-999,-999.0,13.9,997.5,14.7,83.0,17.0,12.8,10.7,eor
26932,433,20210926,10,7.9,2.6,9,0.0,4,6.9,-999,-999.0,15.6,1012.0,18.9,74.0,24.7,12.5,7.7,eor
27296,433,20220925,10,6.6,2.4,9,0.0,6,-999.0,0,7.9,11.8,1005.4,14.3,73.0,19.5,10.9,9.6,eor
27660,433,20230924,10,7.5,2.1,9,0.0,0,-999.0,0,3.4,12.1,1020.5,14.4,75.0,19.4,10.5,7.3,eor
28031,433,20240929,10,7.3,2.8,9,0.0,0,-999.0,0,1.8,8.6,1021.2,9.6,74.0,15.5,5.8,1.3,eor

In [7]:
dates.columns = dates.columns.str.strip()

In [8]:
dates.sort_values(['TMK'], ascending=True)

,STATIONS_ID,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
24013,433,20130929,10,10.9,4.4,9,0.0,0,9.4,-999,-999.0,8.8,1012.6,9.0,78.0,14.4,4.6,1.5,eor
28031,433,20240929,10,7.3,2.8,9,0.0,0,-999.0,0,1.8,8.6,1021.2,9.6,74.0,15.5,5.8,1.3,eor
24741,433,20150927,10,7.3,2.3,9,0.0,0,8.4,-999,-999.0,9.7,1025.6,11.4,74.0,17.4,6.5,-1.1,eor
23649,433,20120930,10,8.1,2.6,9,0.0,0,7.2,-999,-999.0,9.5,1014.8,12.0,70.0,17.1,7.1,0.9,eor
24377,433,20140928,10,7.5,1.5,9,0.0,0,9.0,-999,-999.0,12.0,1020.5,14.0,76.0,21.5,5.8,-0.1,eor
27296,433,20220925,10,6.6,2.4,9,0.0,6,-999.0,0,7.9,11.8,1005.4,14.3,73.0,19.5,10.9,9.6,eor
27660,433,20230924,10,7.5,2.1,9,0.0,0,-999.0,0,3.4,12.1,1020.5,14.4,75.0,19.4,10.5,7.3,eor
25469,433,20170924,10,6.9,3.0,9,1.4,4,0.9,-999,-999.0,15.4,1016.5,14.5,93.0,16.8,12.7,12.3,eor
26204,433,20190929,10,10.5,3.5,9,8.0,4,0.7,-999,-999.0,13.9,997.5,14.7,83.0,17.0,12.8,10.7,eor
23278,433,20110925,10,5.5,1.7,9,0.0,0,10.4,-999,-999.0,11.8,1014.5,15.3,70.0,22.7,8.9,4.0,eor
25105,433,20160925,10,9.3,2.3,9,0.0,0,10.2,-999,-999.0,11.0,1016.2,15.7,64.0,22.8,8.8,2.7,eor
25826,433,20180916,10,6.7,1.7,9,0.0,0,7.7,-999,-999.0,11.3,1017.7,16.4,64.0,23.2,10.1,4.4,eor
26932,433,20210926,10,7.9,2.6,9,0.0,4,6.9,-999,-999.0,15.6,1012.0,18.9,74.0,24.7,12.5,7.7,eor

In [9]:
dates = dates[['MESS_DATUM', 'TMK']]

In [10]:
dates.to_csv("../data/processed/weather.csv")